option_settings:
  - namespace: 'aws:ec2:vpc'
    option_name: VPCId
    value: vpc-6e8fa80a
  - namespace: 'aws:elasticbeanstalk:environment'
    option_name: ServiceRole
    value: aws-elasticbeanstalk-service-role
  - namespace: 'aws:elb:policies'
    option_name: ConnectionDrainingEnabled
    value: true
  - namespace: 'aws:ec2:vpc'
    option_name: Subnets
    value: subnet-19fce46f,subnet-bab853dd,subnet-9c4f1ac5
  - namespace: 'aws:ec2:vpc'
    option_name: ELBSubnets
    value: subnet-19fce46f,subnet-bab853dd,subnet-9c4f1ac5
  - namespace: 'aws:ec2:vpc'
    option_name: ELBScheme
    value: internal
  - namespace: 'aws:elasticbeanstalk:healthreporting:system'
    option_name: SystemType
    value: enhanced
  - namespace: 'aws:elb:loadbalancer'
    option_name: CrossZone
    value: true
  - namespace: 'aws:autoscaling:launchconfiguration'
    option_name: SecurityGroups
    value: sg-3ed16558,sg-4596ca23
  - namespace: 'aws:autoscaling:launchconfiguration'
    option_name: IamInstanceProfile
    value: aws-elasticbeanstalk-ec2-role
  - namespace: 'aws:autoscaling:launchconfiguration'
    option_name: InstanceType
    value: t2.micro
